body, html {
  margin: 0;
  height: 100%;
}
.main-col{
  background: url('/images/backgrounds/original.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

#main-container {
  padding: 0;
  height: 100%;
}


.main-col{
  height: 100%;
  padding: 0 !important;
  position: relative;
}

#content-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

