
#video-player {
  overflow: auto;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  &.small{ max-width: 450px; }
  &.medium{ max-width: 549px; }
  &.large{ max-width: 650px; }

  .info{ padding: 5px 0; }
  .skip {
    span{ vertical-align: middle; margin-left: 7px; }
    &:hover{ color: #999; }
    cursor: pointer;
  }

  #respond{
    padding-top: 5px;
    > div {
      padding: 0;
      &.left{ padding-right: 5px;}
      &.right{ padding-left: 5px;}
    }
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    .scores {
      height: 100%;
      text-align: center;
      font-size: 18px;
      span:first-child{ padding-left: 10px; }
      span:last-child{ padding-right: 10px; }
      .up{ color: #4caf50; }
      .down{ color: #e51c23; }

    }

  }
}

#dj-playing {
  img{ height: 150px; }
  position: absolute;
  top: 550px;
  left: calc(50% - 50px);
  z-index: 50;
}

#floor {
  position: absolute;
  top: 440px;
  left: 250px;
  width: 575px;
  height: 130px;
  z-index: 1;

  .floor-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .audience{
    position: absolute;
    left: 0;
    // Far back
    // top: -20px;
    // height: 50px;

    // Up front
    top: 20px;
    height: 120px;
    vertical-align: bottom;
    visibility: hidden;
  }
}
