$brand-primary: #2196f3;

#playlists{
  margin-top: 15px;

  ul{
    padding: 0;
    list-style: none;
  }
  li {
    &.active .icon, &:hover .icon{
      color: #fff;
      &:hover{ color: #ccc; }
    }
    &.active{
      color: #fff;
      background-color: #2196f3;
    }
    &:hover{
      color: #fff;
      background-color: #3da2f5;
      .playlistActions{ visibility: visible; }
    }
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    td{ vertical-align: top; }
  }

  .description{
    font-size: 12px;
  }

  .playlistActions{
    visibility: hidden;
  }

  .glyphicon-ok-circle{
    margin-bottom: 2px;
    margin-right: 3px;
  }


  .icon{
    &:hover{ color: #666; }
    font-size: 1.1em;
    cursor: pointer;
    color: #ccc;
    padding: 5px;
  }

  #new {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

}

