#room-list {
  padding: 20px 20px 65px 20px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #333;

  ul {
    text-align: center;
    padding: 0;
    list-style: none;
    overflow: auto;

    $room-pane-width: 320px;
    $room-pane-height: 180px;
    li {
      background-size: 100% auto;
      background-position: 0% 50%;
      background-color: #000;
      margin: 5px;
      img{ width: 100%;}
      width: $room-pane-width;
      height: $room-pane-height;
      cursor: pointer;
      position: relative;
      display: inline-block;
      &:hover{
        .remove{ display: block; }
        .details{ color: #fff; }
      }
      > span{ vertical-align: middle; }
      .remove {
        color: #fff;
        position: absolute;
        top: 5px;
        right: 10px;
        display: none;
        float: right;
        padding-top: 4px;
      }
      .details {
        text-align: left;
        .name{
          width: $room-pane-width - 65px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }
        span{ font-size: 13px; }
        font-size: 0; // to remove excess padding from white-space settings
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2px 5px;
        color: #bbb;
        background-color: rgba(0,0,0,0.7);
      }
      .audience{ padding: 0 5px;}
    }

  }

  .new-venue{
    padding: 15px 0;
    input{ margin-right: 15px; width: 200px; }
  }

}
