<div id="main-menu" ng-class="{ minimized: $ctrl.minimized }">
  <div class="wrapper">

    <div>
      <a href="javascript:void(0)" ng-click="$ctrl.toggleMinimized()" ng-show="$ctrl.minimized" class="menu-toggle">
        <span class="fa fa-bars"></span>
      </a>
    </div>

    <div id="menu-btn" ng-hide="$ctrl.minimized">
      <div ng-hide="$ctrl.loggedIn()">
        <login-buttons></login-buttons>
        <span class="fa fa-close hide-menu fa-hover" ng-click="$ctrl.toggleMinimized()"></span>
      </div>
      <div ng-show="$ctrl.loggedIn()">
        <div class="profile-name">
          <span class="name" ng-hide="$ctrl.editName">
            {{ $ctrl.user.profile.name }}
            <span class="fa fa-close hide-menu fa-hover" ng-click="$ctrl.toggleMinimized()"></span>
            <span class="fa fa-pencil fa-hover edit-profile-name" ng-click="$ctrl.changeName()"></span>
          </span>
          <input id="edit-name" class="form-control" ng-model="$ctrl.user.profile.name"
                                                     ng-show="$ctrl.editName"
                                                     ng-focus="$ctrl.selectAll($event)"
                                                     ng-blur="$ctrl.saveName()">
        </div>
        <button class="btn btn-link logout" ng-click="$ctrl.logout()">
          <span class="fa fa-sign-out"></span>
          <span class="text">Logout</span>
        </button>
      </div>
    </div>

    <ul class="menu-items">
      <li>
        <a href="/" class="btn btn-block btn-primary">Change Venue</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="btn btn-block btn-primary" ng-click="$ctrl.changeAvatar()">Change Avatar</a>
      </li>
    </ul>

    <ul class="menu-items" ng-if="$ctrl.admin()">
      <li class="title">Room Options</li>
    <li>
      <div class="checkbox">
        <label> <input type="checkbox" ng-model="$ctrl.room.settings.requeue" ng-change="$ctrl.saveRoomSettings()" /> Requeue DJ </label>
      </div>
    </li>
    </ul>


  </div>
</div>
