<div id="room-list">

  <div class="login-btn">
    <login-buttons></login-buttons>
  </div>

  <div ng-show="$ctrl.loggedIn()" class="venue-wrapper">

    <form class="form-inline new-venue">
      <!-- <label for="roomName">Venue Name</label> -->
      <input id="roomName" type="text" class="form-control" ng-model="roomName" placeholder="Venue Name">

      <button class="btn btn-primary" ng-click="$ctrl.createRoom(roomName)">New Venue</button>
    </form>

    <ul>
      <li ng-repeat="room in $ctrl.rooms" ng-click="$ctrl.enterRoom(room)" ng-style="$ctrl.nowPlayingStyle(room)">
        <span class="glyphicon glyphicon-trash remove" ng-click="$ctrl.removeRoom(room)" ng-show="$ctrl.myRoom(room)"></span>
        <div class="details">
          <span class="name">{{ room.name }}</span>
          <span class="pull-right">
            <span class="fa fa-users"></span>
            <span class="audience">{{ $ctrl.audience(room) }}</span>
          </span>
        </div>
      </li>
    </ul>

  </div>

</div>
