<!-- Modal -->
<div class="modal fade" id="new-playlist-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <span ng-hide="$ctrl.editTitle()">{{ currentPlaylist.name }}</span>
          <span class="icon glyphicon glyphicon-pencil" ng-click="$ctrl.editTitle(true)" ng-hide="$ctrl.editTitle()"></span>
          <input type="text" ng-show="$ctrl.editTitle()" ng-model="currentPlaylist.name" ng-blur="$ctrl.editTitle(false)" class="form-control" />
        </h4>
      </div>

      <div class="modal-body">
        <div class="row-fluid">
          <input type="text" placeholder="Search" class="form-control" />
        </div>

        <div class="row" id="search-results">
          <div class="col-sm-12">
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.savePlaylist(currentPlaylist)">Save Playlist</button>
      </div>

    </div>
  </div>
</div>

