<header>

  <div id="video-player" ng-class="$ctrl.size">
    <div class="info">
      <span>{{ $ctrl.room.playing.user.profile.name }} - {{ $ctrl.room.playing.user.profile.score }}</span>
      <span class="pull-right skip" ng-show="$ctrl.admin() || $ctrl.currentlyPlaying()" ng-click="$ctrl.skip()">
        skip track
        <span class="fa fa-share"></span>
      </span>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video video-id="$ctrl.room.playing.id" player-vars="$ctrl.playerVars" class="embed-responsive-item"></youtube-video>
    </div>

    <div id="respond" ng-if="!!$ctrl.room.playing.id">
      <div class="col-sm-5 left">
        <button class="btn btn-danger btn-block" ng-click="$ctrl.downvote()" ng-disabled="$ctrl.downvoted()">
          <span class="fa fa-thumbs-down"></span>
        </button>
      </div>

      <div class="col-sm-2 scores">
        <span class="down pull-left">{{ $ctrl.room.playing.downvoted.length || 0 }}</span>
        <span class="up pull-right">{{ $ctrl.room.playing.upvoted.length || 0 }}</span>
      </div>

      <div class="col-sm-5 right">
        <button class="btn btn-success btn-block" ng-click="$ctrl.upvote()" ng-disabled="$ctrl.upvoted()">
          <span class="fa fa-thumbs-up"></span>
        </button>
      </div>
    </div>

  </div>

</header>

