<header>

  <div id="video-player" ng-class="$ctrl.size">
    <div class="info">
      <div class="playing">
        <span ng-show="$ctrl.playing()"> {{ $ctrl.room.playing.title }} - {{ $ctrl.room.playing.user.profile.score }} </span>
        <span ng-hide="$ctrl.playing()">Nothing playing</span>
      </div>
      <div class="pull-right color" ng-show="($ctrl.admin() && $ctrl.playing()) || $ctrl.currentlyPlaying()" ng-click="$ctrl.skip()">
        <span class="pull-right">
          <span class="fa fa-chevron-right"></span>
        </span>
      </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9" ng-if="$ctrl.playing()" ng-hide="$ctrl.soundcloudTrack()">
      <youtube-video video-id="$ctrl.room.playing.id" player-vars="$ctrl.playerVars" class="embed-responsive-item"></youtube-video>
    </div>
    <div class="embed-responsive embed-responsive-16by9" ng-if="$ctrl.playing()" ng-show="$ctrl.soundcloudTrack()">
      <iframe id="{{$ctrl.room.playing.id}}" iframe-onload="$ctrl.onload()" scrolling="no" frameborder="no" ng-src="{{$ctrl.soundcloudUrl()}}" ng-show="$ctrl.soundcloudTrack()"></iframe>
    </div>

    <div id="respond" ng-if="!!$ctrl.room.playing.id">
      <div class="col-sm-4 down vote" ng-class="{ voted: $ctrl.downvoted() }">
        <div class="vote-icon pull-left" ng-click="$ctrl.downvote()">
          <span class="fa fa-thumbs-down"></span>
        </div>
        <div class="count pull-right">{{ $ctrl.room.playing.downvoted.length || 0 }}</div>
      </div>

      <div class="col-sm-4">
        <div class="vote grab">
          <div class="count pull-left">{{ $ctrl.room.playing.grabbed.length || 0 }}</div>
          <div class="vote-icon pull-right" ng-click="$ctrl.grab()">
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>

      <div class="col-sm-4 vote up" ng-class="{ voted: $ctrl.upvoted() }">
        <div class="count pull-left">{{ $ctrl.room.playing.upvoted.length || 0 }}</div>
        <div class="vote-icon pull-right" ng-click="$ctrl.upvote()">
          <span class="fa fa-thumbs-up"></span>
        </div>
      </div>
    </div>

  </div>

  <div id="dj-playing" ng-if="$ctrl.room.playing.user">
    <div class="user-data">
      <div class="user-data-wrapper">
        <div><span>{{ $ctrl.room.playing.user.profile.name }}</span></div>
        <div><span>{{ $ctrl.room.playing.user.profile.points || 0 }}</span></div>
        <span class="arrow-down"></span>
      </div>
    </div>
    <img src="https://s3-us-west-1.amazonaws.com/plugdj-avatars/djing/{{$ctrl.room.playing.user.profile.avatar}}.gif" />
  </div>

  <div id="floor">
    <div class="floor-wrapper">
      <div ng-hide="$ctrl.playing(user._id)" ng-repeat="user in $ctrl.audience" ng-class="user._id" class="audience">
        <div class="audience-wrapper">

          <div class="user-data">
            <div class="user-data-wrapper">
              <div><span>{{ user.profile.name }}</span></div>
              <div><span>{{ user.profile.points || 0 }}</span></div>
              <span class="arrow-down"></span>
            </div>
          </div>

          <img ng-src="https://s3-us-west-1.amazonaws.com/plugdj-avatars/standing/{{user.profile.avatar}}.gif" ng-hide="$ctrl.upvoted(user._id)" />
          <img ng-src="https://s3-us-west-1.amazonaws.com/plugdj-avatars/dancing/{{user.profile.avatar}}.gif" ng-show="$ctrl.upvoted(user._id)" />
        </div>
      </div>
    </div>
  </div>

</header>

