<header>

  <div id="video-player" ng-class="$ctrl.size">
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video video-id="$ctrl.room.playing.id" player-vars="$ctrl.playerVars" class="embed-responsive-item"></youtube-video>
    </div>

    <div id="sizes" class="pull-right">
      <button class="btn btn-sm btn-primary" ng-click="$ctrl.changeSize('small')">small</button>
      <button class="btn btn-sm btn-primary" ng-click="$ctrl.changeSize('medium')">medium</button>
      <button class="btn btn-sm btn-primary" ng-click="$ctrl.changeSize('large')">large</button>
    </div>

  </div>

</header>

