<div id="queue">
  <ul ng-class="{ admin: $ctrl.admin() }">
    <li ng-repeat="u in $ctrl.queue()" ng-class="{{ u.id }}">
      <span>{{ u.name }}</span>
      <span class="actions" ng-if="$ctrl.admin()">
        <span class="fa fa-close" ng-click="$ctrl.leaveQueue(u.id)"></span>
      </span>
    </li>
  </ul>

  <div id="actions" ng-show="$ctrl.user">
    <div class="col-sm-12">
      <button class="btn btn-primary btn-block" ng-click="$ctrl.joinQueue()" ng-hide="!$ctrl.hasPlaylists || $ctrl.enqueued()">
        JOIN QUEUE
      </button>
      <button class="btn btn-danger btn-block" ng-click="$ctrl.leaveQueue()" ng-show="$ctrl.enqueued()">
        LEAVE QUEUE
      </button>
      <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-show="!$ctrl.hasPlaylists">
        <strong>Create and activate</strong> a playlist before joining the queue
      </div>
    </div>
  </div>

</div>
