<div id="playlists">
  <div class="no-user" ng-hide="$ctrl.user">
    You must be signed in to create a playlist!
  </div>

  <ul>
    <li ng-repeat="p in $ctrl.playlists" ng-class="{ active: !!p.active }" ng-click="$ctrl.playlistService.activate(p, $event)">
      <span class="glyphicon glyphicon-ok-circle" ng-show="!!p.active"></span>
      <span>{{ p.name }}</span>
      <div class="pull-right playlistActions">
        <span class="icon fa fa-pencil" ng-click="$ctrl.editPlaylist(p); $event.stopPropagation();"></span>
        <span class="icon fa fa-trash" ng-click="$ctrl.playlistService.remove(p, $event); $event.stopPropagation();"></span>
      </div>
    </li>
  </ul>

  <div id="new" ng-show="$ctrl.user">
    <div class="col-sm-12">
      <button class="btn btn-primary btn-block" ng-click="$ctrl.newPlaylist()">
        NEW PLAYLIST
      </button>
    </div>
  </div>

</div>
